@use '../utils/mediaQueries';
@use '../utils/withPrefix'; 

.toSlowFadeIn {
  opacity: 0;
  @include mediaQueries.forDevices(mobile tablet) {
    transform: translateY(30px);
  }
  &.fadeIn {
    animation: fade-in 1.5s forwards;
  }
}

.toFastFadeIn {
  opacity: 0;
  @include mediaQueries.forDevices(mobile tablet) {
    transform: translateY(30px);
  }
  &.fadeIn {
    animation: fade-in 1s forwards;
  }
}

@include withPrefix.keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
