.about {
    margin: 100px 0;
    position: relative;
    width: 100%;
    height: 501px;
    @include forDevices(laptop) {
        margin-bottom: 120px;
    }
    &__img {
        z-index: 1;
        position: absolute;
        filter: brightness(0.85) contrast(1.25) saturate(1.15);
    }
    &__textWrapper {
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 0;
        background: map-get($colors, white);
        height: fit-content;
        @include forDevices(laptop) {
            bottom: -60px;
            padding: 60px 0 0 60px;
            max-width: 460px;
        }
        @include forDevices(desktop-s) {
            padding: 60px 0 0 60px;
            max-width: 460px;
        }
        @include forDevices(desktop-l) {
            padding: 75px 10px 0 75px;
            max-width: 600px;
        }
        @include forDevices(desktop-xl) {
            padding: 100px 10px 0 100px;
            max-width: 650px;
        }
    }
    &__title {
        font-family: map-get($fontFamilies, secondary);
        color: map-get($colors, black);
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 25px;
        @include forDevices(laptop desktop-s) {
            font-size: 40px;
            line-height: 44px;
        }
        @include forDevices(desktop-l) {
            font-size: 44px;
            line-height: 48px;
        }
        @include forDevices(desktop-xl) {
            font-size: 48px;
            line-height: 48px;
        }
    }
    &__copy {
        font-family: map-get($fontFamilies, primary);
        color: map-get($colors, veryDarkGray);
        font-size: map-get($fontSizes, copy);
        line-height: 25px;
    }
}