.footer {
    width: 100%;
    background: map-get($colors, black);
    @include defaultFlexCenter();
    @include forDevices(mobile tablet) {
        height: fit-content;
    }
    @include forDevices(laptop desktop-all) {
        height: 200px;
    }
    &__contentWrapper {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        @include forDevices(mobile tablet) {
            padding: 30px 10px;
            @include columnFlexNoWrap();
        }
        @include forDevices(laptop) {
            padding: 30px 40px;
        }
        @include forDevices(desktop-all) {
            padding: 30px 90px;
        }
        @include forDevices(laptop desktop-all) {
            @include rowFlexNoWrap();
        }
    }
    &__info {
        flex-basis: 50%;
        padding-top: 20px;
        @include forDevices(mobile tablet) {
            @include columnFlexNoWrap($align-items: center);
            flex-basis: 100%;
            text-align: center;
            padding: 10px 0;
        }
        @include forDevices(laptop desktop-all) {
            @include columnFlexNoWrap($justify-content: space-between);
            &--1 {
                align-items: flex-start;
            }
            &--2 {
                align-items: flex-end;
            }
        }
    }
    &__companyLogo {
        width: auto;
        height: 28px;
        margin: 5px 0;
        @include forDevices(mobile tablet) {
            margin-bottom: 25px;
        }
    }
    &__socialsWrapper {
        @include rowFlexNoWrap();
        list-style-type: none;
        @include forDevices(mobile tablet) {
            margin: 10px 0;
        }
        .social {
            margin: 0 3px;
            width: 38px;
            height: 38px;
            &__link {
                width: 100%;
                height: 100%;
                @include defaultFlexCenter();
                @include underlineEffectOnHover($lineWidth: 1em, $bottom: -5px);
            }
        }
    }
    &__copyright {
        font-family: map-get($fontFamilies, primary);
        color: map-get($colors, veryDarkGray);
        font-size: 15px;
        line-height: 17px;
        padding: 22px 0;
    }
}