@use '../utils/mediaQueries'; 
@use '../utils/positioning'; 
@use '../utils/withPrefix';
@use '../base/variables';
@use '../utils/underlineEffectOnHover' as *;

.footer {
    width: 100%;
    background: map-get(variables.$colors, black);
    @include positioning.defaultFlexCenter;
    @include mediaQueries.forDevices(mobile tablet) {
        @include withPrefix.heightFitContent;
    }
    @include mediaQueries.forDevices(laptop desktop-all) {
        height: 200px;
    }
    &__contentWrapper {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        @include mediaQueries.forDevices(mobile tablet) {
            padding: 30px 10px;
            @include positioning.columnFlexNoWrap;
        }
        @include mediaQueries.forDevices(laptop) {
            padding: 30px 40px;
        }
        @include mediaQueries.forDevices(desktop-all) {
            padding: 30px 90px;
        }
        @include mediaQueries.forDevices(laptop desktop-all) {
            @include positioning.rowFlexNoWrap;
        }
    }
    &__info {
        flex-basis: 50%;
        padding-top: 20px;
        @include mediaQueries.forDevices(mobile tablet) {
            @include positioning.columnFlexNoWrap($align-items: center);
            flex-basis: 100%;
            text-align: center;
            padding: 10px 0;
        }
        @include mediaQueries.forDevices(laptop desktop-all) {
            @include positioning.columnFlexNoWrap($justify-content: space-between);
            &--1 {
                align-items: flex-start;
            }
            &--2 {
                align-items: flex-end;
            }
        }
    }
    &__companyLogo {
        width: auto;
        height: 28px;
        margin: 5px 0;
        @include mediaQueries.forDevices(mobile tablet) {
            margin-bottom: 25px;
        }
    }
    &__socialsWrapper {
        list-style-type: none;
        @include positioning.rowFlexNoWrap;
        @include mediaQueries.forDevices(mobile tablet) {
            margin: 10px 0;
        }
        .social {
            margin: 0 3px;
            width: 38px;
            height: 38px;
            &__link {
                width: 100%;
                height: 100%;
                @include positioning.defaultFlexCenter;
                @include underlineEffectOnHover($lineWidth: 1em, $bottom: -5px);
            }
        }
    }
    &__copyright {
        font-family: map-get(variables.$fontFamilies, primary);
        color: map-get(variables.$colors, veryDarkGray);
        font-size: 15px;
        line-height: 17px;
        padding: 22px 0;
    }
}