.hamburger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    z-index: 10;
    @include forDevices(mobile tablet) {
      display: flex;
    }
    @include forDevices(laptop desktop-all) {
      display: none;
    }
    @include forDevices(mobile) {
        height: 60px;
        width: 60px;
    }
    @include forDevices(tablet) {
        height: 70px;
        width: 70px;
    }
    &__line {
      fill: none;
      stroke: map-get($colors, white);
      stroke-width: 4;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      &--1 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
      }
      &--2 {
        stroke-dasharray: 60 60;
        stroke-width: 4;
      }
      &--3 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
      }
    }
  }
  .opened {
    .hamburger__line {
      &--1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 4;
      }
      &--2 {
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
          stroke-width: 4;
      }
      &--3 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 4;
    }
  }
}