.heroHeader {
  width: 100%;
  max-width: 1440px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include onlyForDevices($to: tablet) {
    background-image: url("../../images/mobile/image-hero.jpg");
    height: 100vh;
    max-height: 1350px;
  }
  @include onlyForDevices($from: laptop) {
    background-image: url("../../images/desktop/image-hero.jpg");
    height: 650px;
  }
  
  &__title {
    $selectedColor: map-get($colors, white);

    color: $selectedColor;
    border: 2px solid $selectedColor;
    font-family: map-get($fontFamilies, secondary);
    text-transform: uppercase;
    font-weight: 300;
    height: fit-content;
    padding: 40px;
    @include defaultFlexCenter();
    @include onlyForDevices($to: tablet) {
        max-width: 90%;
        font-size: 50px;
        margin: auto;
    }
    @include onlyForDevices($from: laptop, $to: laptop) {
        max-width: 550px;
        font-size: 50px;
        padding: 30px;
    }
    @include onlyForDevices($from: laptop) {
        margin: auto 0 auto 40px;
    }
    @include onlyForDevices($from: desktop-s) {
        max-width: 650px;
        width: fit-content;
        min-height: 226px;
        font-size: 72px;
    }
  }
}

.topMenuBar {
    width: 100%;
    margin-top: 40px;
    @include rowFlexNoWrap($justify-content: space-between, $align-items: center);

    &__companyLogo {
        margin: 3px 0 0;
        margin-left: 40px;
    }
    .menu {
        margin: 0 60px 0 auto;

        &__list {
            list-style-type: none;
            @include onlyForDevices($to: tablet) {
                @include columnFlexNoWrap($justify-content: space-between);
                display: none;
            }
            @include onlyForDevices($from: laptop) {
                @include rowFlexNoWrap();
            }
        }
        &__item {
            padding: 10px;
            margin: 0 5px;
        }
        &__link {
            color: map-get($colors, white);
            font-family: map-get($fontFamilies, primary);
            font-size: map-get($fontSizes, copy);
            font-weight: 400;
        }
    }
}