.menu {
  &__list {
    list-style-type: none;
    @include forDevices(laptop desktop-all) {
      @include rowFlexNoWrap();
    }
  }
  &__link {
    color: map-get($colors, white);
    font-family: map-get($fontFamilies, primary);
    font-weight: 400;
    text-shadow: #000 1px 1px 7px;
    @include underlineEffectOnHover();
  }

  &--header {
    @include forDevices(mobile tablet) {
      position: fixed;
      right: -100vw;
      top: 0;
      transition: ease-in-out 0.4s;
      height: 100vh;
      width: 100vw;
      max-width: 480px;
      background: #000;
      z-index: 1;
      @include defaultFlexCenter();
    }
    @include forDevices(laptop desktop-s desktop-l) {
      margin: 0 10px 0 auto;
    }
    @include forDevices(desktop-xl) {
      margin: 0 60px 0 auto;
    }
    .menu__list {
      @include forDevices(mobile tablet) {
        @include columnFlexNoWrap($justify-content: space-between);
      }
    }
    .menu__item {
      margin: 0 10px;
    }
    .menu__link {
      font-size: map-get($fontSizes, copy);
      padding: 10px 15px;
      @include forDevices(laptop) {
        padding: 10px 12px;
      }
    }
  }

  &--footer {
    @include forDevices(laptop desktop-all) {
      padding-left: 4px;
    }
    .menu__link {
      font-size: 15px;
    }
    @include forDevices(mobile tablet) {
      .menu__item {
        margin: 0 8px;
        padding: 10px 0;
      }
      .menu__link {
        padding: 10px 25px;
      }
    }
    @include forDevices(laptop desktop-all) {
      margin-left: -15px;

      .menu__item {
        margin: 0 8px;
        padding: 10px 0;
      }
      .menu__link {
        padding: 10px 4px;
      }
    }
  }
}
