@use '../utils/mediaQueries'; 
@use '../utils/positioning'; 

.topMenuBar {
    width: 100%;
    z-index: 3;
    background: transparent;
    position: absolute;
    transform: translateY(0);
    transition: ease-in-out 0.5s;
    @include positioning.rowFlexNoWrap($justify-content: space-between, $align-items: center);
    @include mediaQueries.forDevices(mobile) {
      padding: 5px 5px 5px 15px;
    }
    @include mediaQueries.forDevices(tablet) {
      padding: 5px 5px 5px 20px;
    }
    @include mediaQueries.forDevices(laptop desktop-s desktop-l) {
      padding: 20px 10px 20px 25px;
    }
    @include mediaQueries.forDevices(desktop-xl) {
      padding: 25px 35px;
    }
    &__title {
      z-index: 3;
      margin: 0;
      padding: 0;
      font-size: unset;
    }
    &__companyLogo {
      @include mediaQueries.forDevices(mobile tablet) {
        max-width: 160px;
        margin-top: 5px;
      }
    }
  }